@page
@model EXWHYZEE.LGT.Areas.AdminPage.Pages.LgaDisburse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].LocalGovernment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].ApprovalNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LgaDisbusement[0].ApprovalStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LgaDisbusement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGovernment.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
