@page
@model EXWHYZEE.LGT.Areas.AdminPage.Pages.SectionDocPanel.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SectionDocument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.IdNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.IdNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.IssueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.ExpiringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.ExpiringDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.Section)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.Section.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SectionDocument.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
