@page
@model EXWHYZEE.LGT.Areas.AdminPage.Pages.SectionDocPanel.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SectionDocument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.IdNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.IdNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.IssueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.ExpiringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.ExpiringDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SectionDocument.Section)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SectionDocument.Section.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SectionDocument.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
