@page
@model EXWHYZEE.LGT.Areas.AdminPage.Pages.SectionDocPanel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionDocument[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionDocument[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionDocument[0].IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionDocument[0].IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionDocument[0].ExpiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SectionDocument[0].Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SectionDocument) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
