@page
@model EXWHYZEE.LGT.Areas.AdminPage.Pages.SpecialProjectPage.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecialProject[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialProject[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialProject[0].FullAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialProject[0].DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialProject[0].DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialProject[0].SpecialProjectCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SpecialProject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialProjectCategory.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
