@page
@model EXWHYZEE.LGT.Areas.AdminPage.Pages.LgaExecutive.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LocalGovtExecutive</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGovtExecutive.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalGovtExecutive.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGovtExecutive.LocalGovernment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalGovtExecutive.LocalGovernment.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGovtExecutive.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalGovtExecutive.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGovtExecutive.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalGovtExecutive.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGovtExecutive.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalGovtExecutive.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LocalGovtExecutive.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
