@page
@model LocalGovernments.Areas.Admin.Pages.Main.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MainIndicator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainIndicator.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainIndicator.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainIndicator.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainIndicator.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainIndicator.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainIndicator.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MainIndicator.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MainIndicator.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MainIndicator.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
